<footer class="container-fluid" id="footer">
    <div class="row">
      <div class="col-md-12 footerTitle1" style="text-align: center;">
      <h3>Sigma Star</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="social-links">
          <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
          <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="instagram"><i class="fab fa-instagram"></i></a>
          <a href="#" class="google-plus"><i class="fab fa-skype"></i></a>
          <a href="#" class="linkedin"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
    </div>
    <div class="row">
      <hr class="col-10" style="width: 100%; height: 3%; text-align: center; margin-top: 4%;">
    </div>
    <div class="row">
      <div class="col-12" >
        <div class="copyright" style="text-align: center; margin-top: 2.3%;">
          © Copyright <strong><span>Sigma Star</span></strong>. All Rights Reserved
        </div>
      </div>
    </div>
</footer>