<section class="section-bg">
    <div class="container" style="margin-top: 5%;">
        <div class="row" style="text-align: center;">
          <div class="section-title col-md-12">
            <span>عملاؤنا</span>
            <h2>عملاؤنا</h2>
            <p>تتعامل شركة سيجما ستار مع شريحة كبيرة من العملاء في شتى المجالات سواء مع القطاع الحكومي والعام و القطاع الخاص وعلامات تجارية معروفة في مجالات عديدة من اقتصادية رياضية غير هادفة للربح سواء أفراد أو هيئات ومؤسسات</p>
          </div>
        </div>
  </div>
</section>