<div class="container" style="margin-top: 5%;">
    <div class="row" style="text-align: center;">
      <div class="section-title col-md-12">
        <span>تواصل معنا</span>
        <h2>تواصل معنا</h2>
        <p>للتواصل مع قسم خدمة العملاء بشركة سيجما ستار، يمكنك استخدام احد وسائل الاتصال التالية :</p>
      </div>
    </div>
    <div class="row contactInfo">
      <div class="col-lg-5 col-md-12 div1">
        <div class="address">
          <i class="fas fa-map-marker-alt"></i>
          <h4>عنوان:</h4>
          <p>6 شارع محمد عبده -امبابه-الجيزه</p>
        </div>
        <div class="email">
          <i class="far fa-envelope"></i>
          <h4>اميل:</h4>
          <p>info@sigmaStra-Co.com</p>
        </div>
        <div class="phone">
          <i class="fas fa-mobile-alt"></i>
          <h4>تلفون:</h4>
          <p>01101025030
            01101025029
          </p>
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3452.574424903565!2d31.20743048477462!3d30.077731023954115!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1458418d9489d829%3A0x9f44d550b651252e!2z2YXYrdmF2K8g2LnYqNiv2Yc!5e0!3m2!1sar!2seg!4v1649658211834!5m2!1sar!2seg" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="col-lg-6 col-md-12 div2">
        <div class="container">
          <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputPassword4">الاسم</label>
                <input type="text" class="form-control" id="inputText4" required>
              </div>
              <div class="form-group col-md-6">
                <label for="inputEmail4">الايميل</label>
                <input type="email" class="form-control" id="inputEmail4" required>
              </div>
            </div>
            <div class="form-group">
              <label for="inputAddress">الموضوع</label>
              <input type="text" class="form-control" id="inputAddress">
            </div>
            <div class="form-group">
              <label for="inputAddress2">الرسالة</label>
              <textarea class="form-control" name="message" rows="10" required=""></textarea>
            </div>
            <div style="text-align: center;">
              <button type="submit" class="btn col-3" style="text-align: center; margin-top: 3%; background-color: #17a2b8; color: white;">ارسل</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>