<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#"><h2><span style="color: orange;">S</span>igma <span style="color: #17a2b8;">S</span>tar</h2></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
        <button type="button" class="btn btn-outline-info col-lg-5 col-md-10">تسجيل الدخول</button>
        <a class="nav-link active" routerLink="/home">الرئيسية<span class="sr-only">(current)</span></a>
        <a class="nav-link active col-lg-2" routerLink="/about">من نحن؟</a>
        <a class="nav-link active" routerLink="/services">الخدمات</a>
        <a class="nav-link active" routerLink="/clients">عملاؤنا</a>
        <a class="nav-link active" routerLink="/contact">تواصل</a>
    </div>
    </div>
</nav>