<div class="container divSSintro">
    <div class="row">
    <div class="col-lg-6 col-md-12 imgLogo" style="text-align: center;">
    <img src="../../assets/Sigma Star Images/Sigma Star Logo.png" alt="Sigma Star Logo" class="img-fluid">
    </div>
    <div class="col-lg-6 col-md-12 divSSintro">
    <h1><span style="color: orange;">S</span>igma <span style="color: #17a2b8;">S</span>tar</h1>
    <h3>سيجما ستار شركة مصرية تأسست عام 2011، متخصصة في تقديم حلول الشبكات والأنظمة الأمنية والخدمات التسويقية لتطوير الأعمال لتخدم قطاع الاعمال داخل وخارج</h3>
    <button type="button" class="btn btn-outline-info col-lg-3 btnStart col-md-10">ابدأ</button>
    </div>
    </div>
</div>